header {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

.titulo {
    margin-bottom: 3px;
}

section {
    background-color: lightgray;
    padding: 15px 0 5px 15px;
}

section ul {
    margin-top: 5px;
    padding-left: 35px;
}

section li {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: lightgray;
    width: 275px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    line-height: 1.25;
    padding: 16px;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    aspect-ratio: 275 / 200;
    border-radius: 5px;
    object-fit: cover;
}

.card h2 {
    margin: 10px 0;
    text-align: center;
}

.card span {
    font-weight: bold;
}

.descricao {
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 2rem;
    flex-grow: 1;
}
